.h-85{
    height: 500px;
}
.w-85{
    width: 400px;
}
.bg-image{
    width: 100%;
    height: 550px ;
    background-image: url('WK52-%20Rita%20Landing%20page%20banner%20-%203.png');
    background-size: 150%;
    background-position: center;
    background-repeat: repeat;
    }
    .img-sm{
        width: 30%;
        top: -100%;
    }
.me-10{
    margin-right:220px;
}
.me-9{
    margin-right:180px;
}
.border-custom {
    border: 3px solid rgba(201, 255, 3, 1); 
}
.bg-custom-1 {
    background-color: rgba(201, 255, 3, 0.5); 

}
.bg-custom-2 {
    background-color: rgba(243, 243, 240, 0.487); 
}
.bg-blue{
    background-color: #00AFDB;
}
.text-custom{
    color:rgba(201, 255, 3, 1) ;
}
.text-custom-2{
color: #00AFDB;
}
::placeholder{
    color:  #00AFDB;
}
#password-field {
    color: #00AFDB;
}
.custom-input:focus {
    border-color: #00AFDB ;
    outline: 2px solid #00AFDB; 
}
.rotate-text {
    display: inline-block; /* Necessary for transform to work */
    transform: rotate(-90deg); /* Rotate text by 45 degrees */
}
.mt-10{
    margin-top:20% ;
}
